.product {
  width: 300px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.76);
  position: relative;
}
.product img {
  width: 90%;
  text-align: center;
  margin: 5px;
}
.info {
  padding: 0 10px;
}
.info h3 {
  margin: 5px 0;
}
.info p {
  margin-top: 8px;
}

.no-select {
  text-align: center;
}
.btn-container {
  width: 80%;
  margin: 0 auto;
}
.no-select {
  width: 80%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgb(108, 120, 233);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 5px;
  margin-top: 50px;
}

.no-select,
.no-select span {
  transition: 200ms;
}

.no-select .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.no-select .icon {
  position: absolute;
  border-left: 1px solid #7471f3;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.no-select svg {
  width: 15px;
  fill: #eee;
}

.no-select:hover {
  background: #c6eeda;
}

.no-select:hover .text {
  color: transparent;
}

.no-select:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.no-select:focus {
  outline: none;
}

.no-select:active .icon svg {
  transform: scale(0.8);
}
